<h1>Biblioteca Mistica</h1>

<div class="row">
  <div class="col-md-3">
    <h3>Gêneros</h3>
    <ul>
      <% @generos.each do |genero| %>
        <li><%= link_to genero.name, genero %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <h3>Editoras</h3>
    <ul>
      <% @editoras.each do |editora| %>
        <li><%= link_to editora.name, editora %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <h3>Autores</h3>
    <ul>
      <% @authors.each do |author| %>
        <li><%= link_to author.name, author %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <h3>Livros</h3>
    <ul>
      <% @books.each do |book| %>
        <li>Nenhum livro ainda</li>
      <% end %>
    </ul>
  </div>
</div>
